.scroll-pane .viewport {
    -fx-background-image: url('backgroud.jpeg');
	-fx-background-size: cover;
}

.button {
    -fx-background-color: #4169E1;
    -fx-font-size: 1.5em;
    -fx-font-family: 'Calibri and Cambria Fonts'
}

.button:hover {
    -fx-background-color: #0F52BA;
}

.text-field {
    -fx-font-size: 1.5em;
    -fx-font-family: 'Calibri and Cambria Fonts'
}